* {
  background-color: #E9E6DE;
}

a {
  text-decoration: none; /* no underline */
}

.header {
  width: 100vw;
  height: 4em;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-top: 0em;
  border-bottom: 4px solid #C0A897;
}

.logo {
  height: 60%;
  padding: inherit;
  margin-left: 2em;
}

.right-panel {
  margin-right: 2em;
}

.center-panel {
  display: flex;
  width: 13em;
}

.selected {
  font-weight: bold;
  font-size: large;
}

.unselected {
  font-weight: lighter;
  font-size: medium;
  color: #747474;
}

.unselected:hover {
  background-color: rgb(210, 210, 210);
  transition: 500ms;
}

button {
  border: none;
  border-width: 3em;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
  padding: 0.5em 1em;
}

.body {
  width: 100vw;
  height: 100vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #DFDBD4;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0.5em;
}

input { 
  border: 0;
  outline: 0;
  background-color: inherit;
}

.icon {
  background-color: inherit;
  margin-right: 1em;
}

.contributors-list {
  display: flex;
  flex-direction: column;
  height: 100%; 
  flex-wrap: wrap;
  width: 80%;
  margin: 3em 5em;
}

.contributor-card {
  height: 1em;
  width: fit-content;
  background-color: #DFDBD4;
  color: black;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.contributor-card:hover {
  transform: scale(1.02);
}