body {
  background-color: #E9E6DE;
}

a {
  text-decoration: none; /* no underline */
}

.header {
  width: 100vw;
  height: 4em;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-top: 0em;
  border-bottom: 4px solid #C0A897;
}

.logo {
  height: 60%;
  padding: inherit;
  margin-left: 2em;
}

.right-panel {
  margin-right: 2em;
}

.center-panel {
  display: flex;
  width: 13em;
}

.selected {
  font-weight: bold;
  font-size: large;
}

.unselected {
  font-weight: lighter;
  font-size: medium;
  color: #747474;
}

.unselected:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}

button, .submit-button {
  border: none;
  border-width: 3em;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
  padding: 0.5em;
  margin-left: 0.5em;
  background-color: #E9E6DE;

}

.body {
  width: 100vw;
  height: 100vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFDBD4;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0.5em;
}

input { 
  border: 0;
  outline: 0;
  background-color: inherit;
}

.icon {
  background-color: inherit;
  margin-right: 1em;
}

.contributors-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%; 
  flex-wrap: wrap;
}

.contributor-card {
  height: 1em;
  width: fit-content;
  background-color: #DFDBD4;
  color: black;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.contributor-card:hover {
  transform: scale(1.02);
}

.contributor-edit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}

.profile-picture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  align-self: center;
}

.contributor-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-contributor {
  width: 25em;
}

.input-row {
  display: flex;
  align-items: center;
}

textarea {
  border: none;
  min-width: 25em;
  max-width: 25em;
  min-height: 5em;
  max-height: 20em;
  outline: none;
}

.editable-title {
  font-weight: bold;
  font-size:large;
  width: fit-content;
  min-height: 2em;
  min-width: 2em;
}

.editable-title:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}

.editable-row {
  display: flex;
  align-items: center;
}

select {
  border: none;
  outline: none;
}

.submit-button {
  background-color: #C0A897;
  margin: 2em 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: lighter;
  font-size:large;
  width: 10em;
  align-self: center;
}

.submit-button:hover {
  background-color: #d2b59f;
  transition: 500ms;
}

.hidden {
  display:none;
}

.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}