body {
  background-color: #E9E6DE;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none; /* no underline */
}

.header {
  width: 100vw;
  height: 4em;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-top: 0em;
  border-bottom: 4px solid #C0A897;
}

.logo {
  height: 2.5em;
  padding: inherit;
  margin-left: 2em;
}

.right-panel {
  margin-right: 2em;
}

.center-panel {
  display: flex;
  width: 13em;
}

.selected {
  font-weight: bold;
  font-size: large;
}

.unselected {
  font-weight: lighter;
  font-size: medium;
  color: #747474;
}

.unselected:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}

button, .submit-button {
  border: none;
  border-width: 3em;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
  padding: 0.5em;
  margin-left: 0.5em;
  background-color: #E9E6DE;

}

.body {
  width: 100vw;
  height: 100vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFDBD4;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0.5em;
}

input { 
  border: 0;
  outline: 0;
  background-color: inherit;
}

.icon {
  background-color: inherit;
  margin-right: 1em;
}

.contributors-list {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 10em;
}

.contributor-card {
  height: 1em;
  width: fit-content;
  background-color: #DFDBD4;
  color: black;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.contributor-card:hover {
  transform: scale(1.02);
}

.contributor-edit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 2em;
  margin-top: 2em;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-self: center;
  margin-bottom: 1em;
}

.contributor-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-contributor {
  width: 30em;
}

textarea {
  border: none;
  min-width: 30em;
  max-width: 30em;
  min-height: 5em;
  max-height: 15em;
  outline: none;
}

.input-row {
  display: flex;
  align-items: center;
}

.editable-title {
  font-weight: bold;
  width: 32em;
  text-align: left;
}

.editable-title:hover {
  background-color: #d2d2d2;
  transition: 500ms;
}

.editable-row {
  display: flex;
  align-items: center;
  height: 2em;
}

select {
  border: none;
  outline: none;
  min-width: 32em;
}

.submit-button {
  background-color: #5d5959;
  color: white;
  margin: 1em 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  font-size: medium;
  width: 10em;
}

.submit-button:hover {
  background-color: #544a49;
  transition: 500ms;
}

.cancel-button {
  margin: 1em 0em;
  font-weight: lighter;
  padding-left: 1em;
  padding-right: 1em;
}

.contributor-button-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1em;
}

.hidden {
  display:none;
}

.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  width: 5.5em;
}

.contributor {
  display: flex;
}

.pieces {
  width: 50%;
  margin: 2em 0em;
  border-left: 1px solid rgb(202, 200, 200);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* .textarea-piece, .input-piece {
  min-width: 30em;
  max-width: 30em;
} */

.piece {
  margin: 1em 6em;
  border-bottom: 1px solid rgb(202, 200, 200);
}

.piece:last-child {
  border-bottom: 0;
}

.links {
    align-self: center;
    height: fit-content;
    padding: 0.5em 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.Button.file-selected {
  border: #03891e solid 2px;
}

.plus-button {
  cursor: pointer;
}

.new-contributor-edit {
  width: 100%;
}

.pieces-title {
  align-self: center;
  font-weight: lighter;
}

@media (max-width: 1000px) {

  #root {
    display: none;
  }

  body::before {
    content: "Sorry, this website is not available on small screens.";
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
}
